<div>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa {{activeMenuItem.icon}}"></i>
          {{activeMenuItem.label | translate}}
          <a class="btn btn-primary btn-sm" routerLink="create">
            <i class="fa fa-plus-square"></i> {{'Create' | translate}}</a>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover table-striped table-sm" *ngIf="columns">
            <thead>
            <tr>
              <th *ngFor="let column of columns">{{column | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entity of entities$ | async">
              <td *ngFor="let key of columns">
                <a *ngIf="key === mainColumn" routerLink="{{entity.id}}">
                  {{entity[key]}}
                </a>
                <span *ngIf="key != mainColumn">
                  {{entity[key]}}
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
